<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Userpassword:</strong>
    <%= user.userpassword %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= user.profile_id %>
  </p>

</div>
