<p style="color: green"><%= notice %></p>

<h1>Tipo perfils</h1>

<div id="tipo_perfils">
  <% @tipo_perfils.each do |tipo_perfil| %>
    <%= render tipo_perfil %>
    <p>
      <%= link_to "Show this tipo perfil", tipo_perfil %>
    </p>
  <% end %>
</div>

<%= link_to "New tipo perfil", new_tipo_perfil_path %>
