<section>

  <%= render "form", profile: @profile, user: @user %>

  <br>

  <div>
    <%= link_to "Mostrar detalhes", @profile %> |
    <%= link_to "Listar usuario", profiles_path %>
  </div>
</section>
