:root{
    --primary-color: #51607e;
    --fundo-color: #3F5071;
    --destaque-color: #212D45;
    --white-color: #EBEBEB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--fundo-color);
    font-size: 1.6rem;
    font-family: 'Roboto Condensed', sans-serif;
}

article{
    display: flex;
}

.barralateral{
    width: 5rem;
    height: 100vh;
    background: var(--primary-color);
    padding: 1rem;
    transition: all ease 700ms;
    position: absolute;
    z-index: 2000;
}

.barralateral:hover{
    width: 25rem;
    opacity: 0.9;
}

.perfil{
    background-image: url(msg-500772958-12895.jpg);
    background-size: contain;
    border-radius: 6rem;
    width: 3rem;
    height: 3.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    margin-left: 0.4rem;
}

li{
    display: flex;
    justify-content: center;
    width: 3rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    transition: all ease 500ms;
    cursor: pointer;
}

li:hover{
    background: var(--destaque-color);
    border-radius: 1rem;
    width: 23rem;
    padding-left: 20rem;
}

.logout{
    position: absolute;
    bottom: 1rem;
}

.barralateral p:last-child{
    position: absolute;
    bottom: 3.1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

ul p{
    position: absolute;
    visibility: hidden;
}

.barralateral:hover ul p{
    visibility: visible;
    animation: op 300ms ease-out;
}

p{
    width: 20rem;
    color: var(--white-color);
    margin-left: 4.5rem;
}

@keyframes op {
    from{
        transform: translateY(-50px);
    }

    to{
        transform: translateY(0px);
    }
}

.nome{
    margin-top: -5.5rem;
    font-size: 1.4rem;
}

.profissao{
    margin-top: -3.8rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.cadastro{
    margin-top: -5.3rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.funcionarios{
    margin-top: -5.3rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.clientes{
    margin-top: -5.3rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.protocolos{
    margin-top: -5.4rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.avisos{
    margin-top: -5.7rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.home{
    display: flex;
    margin-top: 10rem;
    padding-left: 10rem;
    padding-right: 5rem;
    width: 100vw;
    justify-content: space-between;
    height: 70vh;
}

.protocolos-home{
    text-align: center;
    height: 100%;
    width: 50%;
}

.info-protocolos{
    text-align: center;
    height: 100%;
    width: 35%;
}