:root{
    --primary-color: #3A4F78;
    --white-color: #EBEBEB
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: var(--primary-color);
    font-size: 1.6rem;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    background: var(--white-color);
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin-top: 5rem;
}

.login{
    width: min(60vw, 45rem);
    background: var(--white-color);
    margin-top: 15rem;
    border-radius: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 7rem;
}

.caixa{
    margin-top: 2rem;
    background: var(--primary-color);
    border: none;
    border-radius: 1rem;
    padding: 1.3rem;
    color: var(--white-color);
    font-size: min(2.5vw, 2rem);
    margin-bottom: 1rem;
    opacity: 0.93;
    transition: all ease 300ms;
    font-family: 'Roboto Condensed', sans-serif;
}

.caixa:hover{
    opacity: 1;
}

.caixa:focus{
    opacity: 1;
}

input::placeholder{
    color: var(--white-color);
    opacity: 0.9;
}

button{
    cursor: pointer;
    font-weight: bold;
}

