:root{
    /* --primary-color: #0387DC; */
    --primary-color:#42576e;
    --backgroud-color: #EBEBEB;
    --white-color: #ffffff; 
    --destaque-color: rgb(72, 72, 72);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background: var(--backgroud-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}
body, input, textarea, button {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700;
}
button {
    cursor: pointer;
}
[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

@media(max-width: 1080px){
    html{
    font-size: 93.75%;
    }
}
@media (max-width: 720px){
    html{
    font-size: 87.5%;
    }
}

article{
    display: flex;
}

/*Barra lateral*/

.barralateral{
    width: 7rem;
    min-height: 100vh;
    background: var(--primary-color);
    position: relative;
}

.barralateral li{
    display: flex;
    justify-content: left;
    padding: .75rem;
    cursor: pointer;
}

.barralateral ul p{
    padding-left: .75rem;
}


.barralateral .perfil{
    width: 7rem;
}

.foto{
    margin-left: -0.1rem;
}

.foto img{
    width: 5rem;
}

.name{
    padding: 1rem 0rem;
    text-align: center;
    color: #ffffff;
}

.foto{
    margin-left: .2rem;
}

.name{
    padding: 1rem 0rem;
    text-align: center;
    color: #ffffff;
}

.linha{
    transition: all 350ms ease;
    height: 4.5rem;
    display: flex;
    justify-content: center;
}

.linha2{
    transition: all 350ms ease;
    height: 4.5rem;
    width: 7rem;
    position: absolute;
    bottom: 0rem;
    display: flex;
    justify-content: center;
}

.linha:hover{
    background: var(--destaque-color);
    cursor: pointer;
}

.linha2:hover{
    background: var(--destaque-color);
    cursor: pointer;
}

/*FIM*/

section{
    display: flex;
    flex-direction: column;
    padding: 6rem;
}