:root{
    --primary-color:#42576E;
    --backgroud-color: #F0F2F5;
    --border-color: #C4C4C4;
    --white-color: #ffffff;
    --black-color: #000000; 
    --destaque-color: rgb(72, 72, 72);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background: var(--backgroud-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}
body, input, textarea, button {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700;
}
button {
    cursor: pointer;
}
[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

@media(max-width: 1080px){
    html{
    font-size: 93.75%;
    }
}
@media (max-width: 720px){
    html{
    font-size: 87.5%;
    }
}

article{
    display: flex;
}

/*Barra lateral*/

.barralateral{
    width: 7rem;
    min-height: 100vh;
    background: var(--primary-color);
    position: relative;
    border-radius: 0rem .7rem .7rem 0rem;
}

.barralateral li{
    display: flex;
    justify-content: left;
    padding: .75rem;
    cursor: pointer;
}

.barralateral ul p{
    padding-left: .75rem;
}


.barralateral .perfil{
    width: 7rem;
}

.foto img{
    width: 5rem;
}

.name{
    padding: 1rem 0rem;
    text-align: center;
    color: var(--white-color);
}

.foto{
    margin-left: .2rem;
}

.linha{
    transition: all 350ms ease;
    height: 4.5rem;
    display: flex;
    justify-content: center;   
}

.linha:hover{
    background: var(--destaque-color);
    cursor: pointer;
}

.linha2:hover{
    background: var(--destaque-color);
    cursor: pointer;
}

/*FIM*/

.funcionarios{
    background: var(--destaque-color);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem 5rem;
}

.edicao-perfil{
    width: 100%;
}

.voltar{
    position: absolute;
    transition: all 350ms ease;
    cursor: pointer;
    opacity: .7;
}

.voltar:hover{
    opacity: 1;
}

.info-pessoais{
    display: flex;
    width: 100%;
    margin: .5rem 0rem;
}

.top{
    width: 100%;
    text-align: center;
}

.top img{
    margin-top: .5rem;
}

.labelnomecompleto{
    width: 20%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputnomecompleto{
    width: 40%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    margin-right: 5%;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labelcpf{
    width: 10%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputcpf{
    width: 25%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labeldatanascimento{
    width: 20%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputdatanascimento{
    width: 20%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    margin-right: 5%;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labelemail{
    width: 15%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputemail{
    width: 40%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labeltelefone{
    width: 15%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputtelefone{
    width: 20%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}




.endereco{
    display: flex;
    width: 100%;
    margin: 1rem 0rem;
}

.labelcep{
    width: 10%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputcep{
    width: 20%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    margin-right: 5%;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labelrua{
    width: 10%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputrua{
    width: 30%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    margin-right: 5%;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labeluf{
    width: 10%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputuf{
    width: 10%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labelnumerocasa{
    width: 10%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputnumerocasa{
    width: 20%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}




.info-cadastrais{
    display: flex;
    width: 100%;
    margin: 1rem 0rem;
}

.labelusuario{
    width: 15%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputusuario{
    width: 15%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    margin-right: 5%;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labelcargo{
    width: 15%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputcargo{
    width: 25%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    margin-right: 5%;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labelid{
    width: 10%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputid{
    width: 10%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labeldepartamento{
    width: 15%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputdepartamento{
    width: 25%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    margin-right: 5%;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.labelsenha{
    width: 10%;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-right: none;
    border-radius: .7rem 0rem 0rem .7rem;
    padding: .5rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
}

.inputsenha{
    width: 10%;
    text-align: right;
    background: var(--white-color);
    border: solid 1px var(--border-color);
    border-left: none;
    border-radius: 0rem .7rem .7rem 0rem;
    padding: .5rem;
    outline: none;
    font-size: min(1.1rem, 2vw);
}

.finalizar-edicao{
    width: 100%;
    text-align: center;
}

.finalizar-edicao button{
    background: var(--primary-color);
    border: solid 1px var(--border-color);
    border-radius: .7rem;
    padding: 1rem;
    font-size: min(1.1rem, 3vw);
    font-weight: bold;
    color: var(--white-color);
    cursor: pointer;
    width: 25%;
    transition: all 350ms ease;
}

.finalizar-edicao button:hover{
    border: solid 1px var(--black-color);
    font-size: min(1.2rem, 3.1vw);
    width: 27%;
}