:root{
    --primary-color: #0387DC;
    --fundo-color: #ffffff;
    --destaque-color: #0a0e15;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--fundo-color);
    font-size: 1.6rem;
    font-family: 'Roboto Condensed', sans-serif;
}

article{
    display: flex;
}

.barralateral{
    width: 10rem;
    height: 100vh;
    background: var(--primary-color);
}

.barralateral li{
    display: flex;
    justify-content: left;
    padding: 1.5rem;
    cursor: pointer;
}

.barralateral ul p{
    padding-left: 1.5rem;
}

.barralateral .perfil{
    width: 10rem;
}

.foto{
    margin-left: -0.1rem;
}

.foto img{
    width: 7rem;
}

.name{
    padding: 1rem 0rem;
    text-align: center;
    color: #ffffff;
}

.linha{
    transition: all 350ms ease;
    height: 7.1rem;
    display: flex;
    justify-content: center;
}

.linha2{
    transition: all 350ms ease;
    height: 7.1rem;
    width: 10rem;
    position: absolute;
    bottom: 0rem;
    display: flex;
    justify-content: center;
}

.linha:hover{
    background: var(--destaque-color);
    cursor: pointer;
}

.linha2:hover{
    background: var(--destaque-color);
    cursor: pointer;
}

section{
    width: 100vw;
}

header{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px var(--primary-color);
    height: 30%;
}

header ul{
    list-style: none;
}

.style0{
    width: 30%;
}

.style0 h3{
    font-size: min(2rem, 2.3vh);
}

.style0 li{
    font-size: min(1.6rem, 2vh);
}

.style1{
    background: #EAE8E8;
}

.style2{
    background: #C4C4C4;
}

.perfil2{
    padding: 0rem 3rem;
}

.foto2 img{
    width: 12rem;
}

.topcs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.topcs h3{
    font-size: min(2rem, 2.8vh);
}

.top_func{
    background: #C4C4C4;
    width: 40%;
    height: 80%;
}

.atend{
    background: #C4C4C4;
    width: 40%;
    height: 80%;
}