:root{
    /* --primary-color: #0387DC; */
    --primary-color:#42576e;
    --backgroud-color: #EBEBEB;
    --white-color: #ffffff; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background: var(--backgroud-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}
body, input, textarea, button {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700;
}
button {
    cursor: pointer;
}
[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

@media(max-width: 1080px){
  html{
    font-size: 93.75%;
<<<<<<< HEAD
  }
}
@media(max-width: 720px){
  html{
    font-size: 87.5%;
  }
=======
    }
}
@media (max-width: 720px){
    html{
    font-size: 87.5%;
    }
>>>>>>> 4a0dfd5c2e5de9a65693df6ed58a9471990513b2
}
