
section, .c-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 5rem;
}

/* ####Index###### */
.c-pesquisa{
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border: solid 1px var(--border-color);
  border-radius: 5px;
  margin-top: 2rem;

}

.c-pesquisa input{
  width: 90%;
  height: 2.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

table{
  width: 100%;
  border-spacing: 0 0.5rem;
}
th{
  color: #000;
  padding: 1rem 2rem;
  text-align: left;
  line-height: 1.5rem;
}

tr a {
  color: #000;
  text-decoration: none;
}
td{
  padding:1rem 2rem;
  border: 0;
  background: #fff;
  color: #000;
  border-radius: 0.25rem;
}

td:first-child{
  color:var(--text-title);
}

/* formulario */

.c-form > a {
  align-self: flex-start;
}

.voltar {
  width: 25px;
  align-self: flex-start;

}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


form h2{
  margin: 20px 0;
}

.c-dados-pessoais {
  width: 100%;

}

.c-dados-pessoais .c-dados-pessoais-nome {
  margin-top: 1rem;

}
.c-dados-pessoais .c-dados-pessoais-nome label {
  display: block;
  margin-bottom: 5px;
}

.c-dados-pessoais .c-dados-pessoais-nome input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
}

.c-dados-pessoais .group-0{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.c-dados-pessoais .group-0 .c-dados-pessoais-cpf label, 
.c-dados-pessoais-nascimento label{
  display: block;
  margin-bottom: 5px;
}

.c-dados-pessoais .group-0 .c-dados-pessoais-cpf input, 
.c-dados-pessoais-nascimento input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
}

.c-dados-pessoais .group-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.c-dados-pessoais .group-1 label{
  display: block;
  margin-bottom: 5px;
}

.c-dados-pessoais .group-1 input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
}

.sexo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.sexo div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.c-endereco {
  width: 100%;

}
.c-endereco .group-2 label, .group-3 label {
  display: block;
  margin-bottom: 5px;
}
.c-endereco .group-2 input, .group-3 input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
}

.c-endereco .group-2{
  display: grid;
  grid-template-columns: 1fr 6rem 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.c-endereco .group-3{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 6rem;
  gap: 2rem;
}

.c-login {
  width: 100%;

}
.c-login .group-4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.c-login .group-4 label{
  display: block;
  margin-bottom: 5px;
}

.c-login .group-4 input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
}

.c-login .group-5{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.gestor, .ativo{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.gestor div, .ativo div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.submit {
  width: 100%;
  text-align: center;
  margin-top: 3rem;

}

.submit input[type="submit"] {
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white-color);
  cursor: pointer;
  width: 10rem;
  margin: 0 auto;
  transition: filter 0.2s ;
}

.submit input[type="submit"]:hover{
  filter: brightness(0.8);
}


/* listar funcionario */



.bloco1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  border-bottom: solid 2px var(--border-color);
  height: 30%;
  width: 85%;

}

.bloco1 ul{
  list-style: none;
}

.style0{
  width: 35%;
  background: var(--white-color);
  border-radius: .7rem .7rem .7rem .7rem;

}
.style0 h3{
  font-size: min(1.4rem, 2.5vw);
  padding: 0.2rem 0rem;
}
.style0 li{
  font-size: min(1rem, 2vw);
  list-style-type: none;
}


/*Cards*/

.style1{
  padding-left: .7rem;
  height: 3.5rem;
}

.style2{
  background:var( --primary-color);
  padding-left: .7rem;
  color: var(--white-color);
  height: 3.5rem;
}

.style3{
  padding-left: .7rem;
  height: 3.5rem;
}

/* mostrar*/

.edicao{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0rem 3rem;
}


.bloco2{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0rem;
  justify-content: space-evenly;
  list-style: none;
  border-bottom: solid 2px var(--border-color);
  height: 30%;
  width: 85%;
}

.style4{
  width: 25%;
  background: var(--white-color);
  border-radius: .7rem .7rem .7rem .7rem;
  align-items: center;
}

.style4 h3{
  font-size: min(1.4rem, 2.5vw);
  padding: 0.2rem 0rem;
}

.style4 li{
  font-size: min(1rem, 2vw);
  list-style-type: none;
}

.excluir{
  text-align: center;
  padding-top: 3rem;
  cursor: pointer;
  width: 40px;
}

.excluir:hover{
  opacity: 1;
} 

button[type="submit"]{
  border: none;
}





