<h1>Editing profile type</h1>

<%= render "form", profile_type: @profile_type %>

<br>

<div>
  <%= link_to "Show this profile type", @profile_type %> |
  <%= link_to "Back to profile types", profile_types_path %>
</div>
