<div class="c-form">
  <%= link_to (image_tag 'left.png', title: 'Voltar'), root_path %>
  <div>
    <span>Cadastre um perfil administrador para primeiro acesso e gerenciamento de novos usuarios</span>
  </div>
  <%= render "form" %>
</div>