<div id="<%= dom_id telefone_perfil %>">
  <p>
    <strong>Numero tel:</strong>
    <%= telefone_perfil.numero_tel %>
  </p>

  <p>
    <strong>Perfil:</strong>
    <%= telefone_perfil.perfil_id %>
  </p>

</div>
