<h1>Editing telefone perfil</h1>

<%= render "form", telefone_perfil: @telefone_perfil %>

<br>

<div>
  <%= link_to "Show this telefone perfil", @telefone_perfil %> |
  <%= link_to "Back to telefone perfils", telefone_perfils_path %>
</div>
