<p style="color: green"><%= notice %></p>

<h1>Telefone perfils</h1>

<div id="telefone_perfils">
  <% @telefone_perfils.each do |telefone_perfil| %>
    <%= render telefone_perfil %>
    <p>
      <%= link_to "Show this telefone perfil", telefone_perfil %>
    </p>
  <% end %>
</div>

<%= link_to "New telefone perfil", new_telefone_perfil_path %>
