<section>
  <p style="color: green"><%= notice %></p>
  <%= link_to (image_tag "voltar.svg", title: 'Voltar'), perfils_path , class: "voltar" %>
  <%= render "perfil",  perfil: @perfil %>

</section>
