<section>
  <%= link_to (image_tag 'left.png', title: 'Voltar'), 
      (@usuario_logado.gestor ? perfils_path : dashboard_path) , 
      class: "voltar" 
  %>
  
  <%= render "perfil",  perfil: @perfil, user: @user %>

</section>
