<div id="<%= dom_id telefone_cliente %>">
  <p>
    <strong>Numero tel:</strong>
    <%= telefone_cliente.numero_tel %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= telefone_cliente.cliente_id %>
  </p>

</div>
