<h1>Editing ordem servico</h1>

<%= render "form", ordem_servico: @ordem_servico %>

<br>

<div>
  <%= link_to "Show this ordem servico", @ordem_servico %> |
  <%= link_to "Back to ordem servicos", ordem_servicos_path %>
</div>
