<section class="c-form">
  <%= link_to (image_tag 'left.png', title: 'Voltar', class: "voltar"), ordem_servicos_path %>
  <%= render "form", ordem_servico: @ordem_servico, perfil: @perfil %>
</section>
