<section class="c-form">
  <%= link_to (image_tag "voltar.svg", title: 'Voltar', class: "voltar"), ordem_servicos_path %>
  <%= render "ordem_servico", ordem_servico: @ordem_servico, perfil: @perfil, cliente: @cliente %>
</section>